<h1>Conferenc<span>r</span></h1>
<h2><%= @event.name%></h2>

<p><%= @event.introduction %></p>

<p><%= @event.text %></p>

<h3>Ticket Availability</h3>
<p><em>Ticket Availability</em></p>

<h3>Venue</h3>
<p><em>Venue</em></p>
