<% content_for :body do %>
  <%= render :partial => "events/show", :local=>{:event=>@event} %>
  
  <ol>
  <% @tickets.each do |t| %>
    <li><%= link_to t.ticket_name, t %></li>
  <% end %>
  </ol>
  
<% end %>

